**/*
**/*/
!*/
/nvim/pluged/**
/kak/plugins
zsh/

!/.gitignore
!/README.md
!/nvim/init.lua
!/kitty/*.conf
!/picom/*.conf
!/xmobar/*.conf
!/fish/config.fish
!starship.toml
!/nvim/lua/*
!/nvim/lua/**/*
!/nvim/ftplugin/*
!/nvim/filetype/*/*
!/nvim/docstring/*
!/nvim/queries/**/*
!/nvim/snippets/*
!/nvim/package.json
!/xmonad/xmonad.hs
!/xmonad/xmonad-oleete/XMonad/**/*.hs
!/xmobar/*
!/dunst/*
!/vis/visrc.lua
!/kak/kakrc
!/zathura/zathurarc
!/bin/*
!/rofi/themes/*.rasi
!/alacritty.yml
!/broot/conf.hjson
!/vifm/vifmrc
!/nvim/after/plugin/*
!topgrade.toml
!/**/tasks.lua
!tasks.lua
!git/*
!nu/*
!fish/conf.d/*

/rofi-themes
/bin/startupScript
/bin/brightness
/xmonad/xmonad-git
/xmonad/xmonad-contrib-git
/xmobar/xmobar-git
/nvim/neovim
/kak/kakoune
