**/*
**/*/
!*/
/nvim/pluged/**
/kak/plugins
zsh/
rofi/

!/.gitignore
!/README.md
!/nvim/init.lua
!/kitty/*.conf
!/picom/*.conf
!/xmobar/*.conf
!/fish/config.fish
!starship.toml
!/nvim/lua/*
!/nvim/ftplugin/*
!/nvim/filetype/*/*
!/nvim/docstring/*
!/nvim/queries/**/*
!/nvim/snippets/*
!/nvim/package.json
!/xmonad/xmonad.hs
!/xmonad/xmonad-oleete/XMonad/**/*.hs
!/xmobar/*
!/deadd/deadd.conf
!/deadd/deadd.css
!/vis/visrc.lua
!/kak/kakrc
!/zathura/zathurarc
!/bin/*

/xmonad/xmonad
/xmonad/xmonad-contrib
/nvim/neovim
/kak/kakoune

