**/*
**/*/
!*/
/nvim/pluged/**
kak/
zsh/
rofi/

!/.gitignore
!/README.md
!/nvim/init.vim
!/kitty/*.conf
!/picom/*.conf
!/xmobar/*.conf
!/fish/config.fish
!starship.toml
!/nvim/lua/*
!/nvim/ftplugin/*
!/nvim/filetype/*/*
!/nvim/docstring/*
!/xmonad/xmonad.hs
!/xmonad/xmonad-oleete/XMonad/**/*.hs
!/xmobar/*
!/deadd/deadd.conf
!/deadd/deadd.css

/xmonad/xmonad
/xmonad/xmonad-contribs
/nvim/neovim

